streamlit==1.31.1
streamlit-mic-recorder==0.0.4
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.82
numpy==1.23.5
langchain==0.2.1
langchain-community==0.0.22
langchain-core==0.2.3
langchain-experimental==0.0.47
langchain-text-splitters==0.2.0
langcodes==3.3.0
langsmith==0.1.67
huggingface-hub==0.23.5
